# --- Contents of: `~/.config/direnv/direnvrc` ---

# Usage: dotenv_gsm [<dotenv>]
#
# Loads a ".env.gsm" file and fetches values from Google Secret Manager
dotenv_gsm() {
  local path=${1:-}
  if [[ -z $path ]]; then
    path=$PWD/.env
  elif [[ -d $path ]]; then
    path=$path/.env
  fi
  watch_file "$path"
  if ! [[ -f $path ]]; then
    log_error ".env at $path not found"
    return 1
  fi
  # using development build of cli for example
  if has ./dist/dotenv-gsm_darwin_arm64_v8.0/dotenv-gsm; then
    eval "$("$direnv" dotenv bash "$@" | LOG_LEVEL=error ./dist/dotenv-gsm_darwin_arm64_v8.0/dotenv-gsm -)"
  else
    log_error "ERROR: ensure you have installed 'dotenv-gsm', and its available on your path!"
    return 1
  fi
}

# --- Contents of: `.envrc` ---
dotenv .env/.env.non-secret
dotenv_gsm .env/.env.gsm
dotenv_if_exists .env/.env.secret # should only be created when secret doesn't make sense to live in GSM.
